.finulab-createCommunityWrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-left: -1px;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    min-height: calc(100% - 51px);

    background-color: var(--secondary-bg-03);
    border-left: solid 1px var(--primary-bg-08);
    border-right: solid 1px var(--primary-bg-08);
}
.finulab-createCommunityHeaderSmall {
    position: fixed;
    top: 0px;

    display: flex;
    align-items: center;

    z-index: 999;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 50px;
    min-height: 50px;
    max-height: 50px;
}
.finulab-createCommunityHeader {
    position: absolute;
    top: -50px;

    display: flex;
    align-items: center;

    z-index: 999;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 50px;
    min-height: 50px;
    max-height: 50px;
}
.create-communityContinueErrorDesc {
    position: absolute;
    top: calc((((100vh * 0.55) - 46px) / 3) + 15px);
    left: 135px;

    display: flex;
    align-items: center;

    font-size: 0.8rem;
    color: var(--primary-red-09);
}